<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page_title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link href="/css/custom_styles.css" rel="stylesheet">
</head>
<body>
<div class="edit-page-vertical-grid">
    <div class="page-header">
        <a class="masked-link" th:href="@{/homepage}"><h2 th:text="#{product.name}"></h2></a>
    </div>
    <div class="edit-page-horizontal-grid">
        <div>
            <div th:insert="~{fragments/menu :: menu(menu=${menu})}"></div>
            <a th:href="@{/homepage}" th:text="#{button.back}"></a>
        </div>
        <div>
            <h1 th:text="#{header.change.password}">=</h1>
            <form method="post" th:action="@{/change/password}" th:object="${changePasswordRequest}">
                <label class="label-input">
                    <input class="rounded-input" type="password" name="oldPassword" th:placeholder="#{header.oldPassword}"
                           th:value="${changePasswordRequest.oldPassword}"
                           maxlength="100">
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="password" name="newPassword" th:placeholder="#{header.newPassword}"
                           th:value="${changePasswordRequest.newPassword}"
                           maxlength="100">
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="password" name="newPasswordRetry" th:placeholder="#{header.newPassword.retry}"
                           th:value="${changePasswordRequest.newPasswordRetry}"
                           maxlength="100">
                </label>
                <button  class="rounded-button" type="submit"
                        th:text="#{button.change}">=
                </button>
                <div class="error-box" th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.errors('global')}" th:text="#{|${err}|}" class="error" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>