<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page_title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link href="/css/custom_styles.css" rel="stylesheet">
</head>
<body>
<div class="edit-page-vertical-grid">
    <div class="page-header">
        <a class="masked-link" th:href="@{/homepage}"><h2 th:text="#{product.name}"></h2></a>
    </div>
    <div class="edit-page-horizontal-grid">
        <div>
            <div th:insert="~{fragments/menu :: menu(menu=${menu})}"></div>
            <a th:href="@{/project/list}" th:text="#{button.back}"></a>
        </div>
        <div>
            <h1 th:text="#{header.update.project}">=</h1>
            <form method="post" th:action="@{/project/update/{id}(id=${project.id})}">
                <label class="label-input">
                    <input class="rounded-input" type="number" th:name="id" th:value="${project.id}" disabled>
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="text" name="name" th:placeholder="#{header.project.name}"
                           th:disabled="${!authorityMap.get('w')}"
                           th:value="${project.name}"
                           maxlength="200">
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="number" name="price" th:placeholder="#{header.project.price}"
                           th:disabled="${!authorityMap.get('w')}"
                           th:value="${project.price}"
                           maxlength="10">
                </label>
                <label class="label-input">
                    <select class="rounded-input" name="directorId" th:placeholder="#{header.project.directorName}"
                            th:select="${project.directorId}"
                            th:disabled="${!authorityMap.get('w')}">
                        <option th:each="employee:${employeeList}" th:value="${employee.id}"
                                th:text="${employee.lastName+' '+employee.firstName+' '+employee.middleName}"
                                th:selected="${project.directorId==employee.id}">=
                        </option>
                    </select>
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="date" name="startDate" th:value="${project.startDate}"
                           th:placeholder="#{header.project.startDate}"
                           th:disabled="${!authorityMap.get('w')}">
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="date" name="endDate" th:value="${project.endDate}"
                           th:placeholder="#{header.project.endDate}"
                           th:disabled="${!authorityMap.get('w')}">
                </label>
                <label class="label-input">
                    <select class="rounded-input" name="clientId" th:placeholder="#{header.project.clientName}"
                            th:disabled="${!authorityMap.get('w')}">
                        <option th:each="client:${clientList}" th:value="${client.id}" th:text="${client.clientName()}"
                                th:selected="${project.clientId==client.id}">=
                        </option>
                    </select>
                </label>
                <label class="label-input">
                    <input class="rounded-input" type="number" name="initialBid"
                           th:placeholder="#{header.project.initialBid}"
                           th:disabled="${!authorityMap.get('w')}"
                           th:value="${project.initialBid}"
                           maxlength="10">
                </label>
                <button th:hidden="${!authorityMap.get('e')}" class="rounded-button" type="submit" name="delete"
                        value="false" th:text="#{button.update}">=
                </button>
                <button th:hidden="${!authorityMap.get('d')}" class="rounded-button" type="submit" name="delete"
                        value="true" th:text="#{button.delete}">=
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>