<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page_title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link href="/css/custom_styles.css" rel="stylesheet">
</head>
<body>
<div class="edit-page-vertical-grid">
    <div class="page-header">
        <a class="masked-link" th:href="@{/homepage}"><h2 th:text="#{product.name}"></h2></a>
    </div>
    <div class="edit-page-horizontal-grid">
        <div>
            <div th:insert="~{fragments/menu :: menu(menu=${menu})}"></div>
            <a th:href="@{/street/list}" th:text="#{button.back}"></a>
        </div>
        <div>
            <h1 th:text="#{header.update.street}">=</h1>
            <form method="post" th:action="@{/street/update/{id}(id=${street.id})}">
                <label class="label-input">
                    <input class="rounded-input" type="number" th:name="id" th:value="${street.id}" disabled>
                </label>
                <label class="label-input">
                    <input th:disabled="${!authorityMap.get('e')}" class="rounded-input" type="text" th:name="streetName" th:placeholder="#{header.street.name}"
                           th:value="${street.streetName()}" maxlength="100">
                </label>
                <label class="label-input">
                    <select class="rounded-input" name="cityId" th:placeholder="#{header.city.name}" th:value="${street.cityId()}"
                            th:disabled="${!authorityMap.get('w')}">
                        <option th:each="city:${cityList}" th:value="${city.id}" th:text="${city.cityName}" th:selected="${street.cityId()==city.id()}">=</option>
                    </select>
                </label>
                <button th:hidden="${!authorityMap.get('e')}" class="rounded-button" type="submit" name="delete" value="false" th:text="#{button.update}">=
                </button>
                <button th:hidden="${!authorityMap.get('d')}" class="rounded-button" type="submit" name="delete" value="true" th:text="#{button.delete}">=
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>