<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/custom_styles.css" rel="stylesheet">
<head>
    <title>Menu Fragment</title>
</head>
<body>
<div class="container-menu" th:fragment="menu(menu)">
    <ul class="ul-menu">
        <li class="li-menu" th:each="item : ${menu}">
            <span th:if="${#strings.isEmpty(item.actionUri)}" th:text="#{|${item.displayLabel}|}">Label</span>
            <a class="masked-link" th:if="${not #strings.isEmpty(item.actionUri)}" th:href="${item.actionUri}" th:text="#{|${item.displayLabel}|}">Link Item</a>
            <div class="children" th:replace="~{fragments/submenu :: submenu(menu=${item}, depth=1)}"></div>
        </li>
    </ul>
</div>
</body>
</html>